/* Hide all steps by default: */
* {
  box-sizing: border-box;
}
body {
  background-color: #f1f1f1;
}
#curriculum {
  display: inline-block;
  background-color: #ffffff;
  margin-top: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 100%;
  min-width: 300px;
}
#regForm {
  display: inline-block;
  background-color: #ffffff;
  margin: 50px auto;
  font-family: Raleway;
  padding: 40px;
  width: 80%;
  min-width: 300px;
}
h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px; 
}
/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}
.tab {
  display: none;
}
button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}
/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none; 
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}
.extraPersonTemplate {
    display:none;
}
.extraPersonTemplate2 {
    display:none;
}
.extraPersonTemplate3 {
    display:none;
}
.extraPersonTemplate4 {
    display:none;
}
.extraPersonTemplate5 {
    display:none;
}
.edit{
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}