#curriculum {
  display: inline-block;
  background-color: #ffffff;
  margin-top: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 100%;
  min-width: 300px;
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; 
}
#regForm {
  display: inline-block;
  background-color: #ffffff;
  margin: 50px auto;
  font-family: Raleway;
  padding: 40px;
  width: 80%;
  min-width: 300px;
}
.edit{
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
.btn-md{
	margin-bottom:20px;
}
h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px; 
}

#cover {
/*   width: 400px; */
  margin: 0px auto;
/*   padding: 60px 0px; */
  text-align: center;
}

#stars {
/*   width: 250px; */
  margin: 0 auto;
  position: relative;
}

#stars:after {
  content: "";
  clear: both;
  display: block;
  height: 0px;
  visibility: hidden;
}

.fa-star {
  display: block;
  float: right;
  font-size: 30px;
  color: #797979;
  width: 30px;
  height: 30px;
  padding: 10px;
  transition: 0.2s ease color;
}

.rb {
  width: 50px;
  height: 50px;
  margin: 0px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 1
}

/* #_5 { */
/*   right: 100px; */
/* } */

/* #_4 { */
/*   right: 50px; */
/* } */

#_1 {
  right: 40px;
}

#_2 {
  right: 25px;
}

#_3 {
  right: 0px;
}

.rb:checked ~ i {
  color: #FFEB3B;
}

.rb:hover ~ i {
  color: #F44336;
}

.rb:hover ~ .rb:checked ~ i {
  color: #FFEB3B;
}

.rb:checked:hover ~ i {
  color: #FFEB3B;
}

.rb:checked:hover {
  cursor: default;
}

.rb:checked ~ .rb:hover ~ i {
  color: #3b3;
}

